.main {
  height: 100%;
}
.main-content,
.empty-main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content,
.main,
.empty-main-content {
  border-radius: 10px;
}

.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eaeaea;
  .edit {
    cursor: pointer;
    color: #1962ff;
  }
  .edit:hover {
    transform: scale(1.1);
  }
}

.empty-main-content {
  justify-content: center;
  align-items: center;
}
.empty-main-content h1 {
  rotate: -20deg;
  text-align: center;
}

.content {
  .content-header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .Mark-All-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    .mark-all,
    .unmark-all {
      width: 35px;
      height: 35px;
    }
  }
  .desctiptionLine {
    font-family: "Roboto";
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 2px;
    span {
      display: flex;
      align-items: center;
      padding: 2px;
    }
  }
  .descriptionLines-container {
    height: calc(100vh - 380px);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
  }
  .desctiptionLine span {
    cursor: pointer;
    min-height: 20px;
  }
  .bottom-line {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.underline {
  text-decoration: line-through;
}

.desctiptionLine span:hover {
  transition: all 300ms;
}

.desctiptionLine span:hover {
  background-color: #b6b6b6;
  border-radius: 5px;
  padding: 2px;
}

mat-card-content {
  padding-bottom: 20px;
}

.archvie-Btn:hover {
  background-color: #ddc56d;
}

.done-Btn:hover {
  background-color: #7858b0;
}
.delete_forever {
  margin-right: 20px;
}
.line-icon {
  width: 50px;
  color: #eaeaea;
}
