<mat-card class="main">

    <div *ngIf="!todo" class="empty-main-content">
        <h1>
            SELECT A TASK TO REVIEW
        </h1>
    </div>
    <div *ngIf="todo" class="main-content">
        <mat-card-header class="header">

            <mat-card-title>
                <mat-icon class="edit" matTooltipPosition="above" matTooltip="Edit"
                    (click)="openDialog()">edit</mat-icon>
                {{todo.title}}</mat-card-title>
            <app-count-down *ngIf="todo && todo.endDate" [todo]="todo"></app-count-down>
            <mat-card-subtitle class="time-opened"><span>Time opened: {{todo.openDate | date:"MM/dd/yy "}} | </span>
                <ng-container *ngIf="todo.endTime; else elseTemplate">
                    <span>{{todo.endTime}} </span>
                </ng-container>
                <ng-template #elseTemplate>
                    <span>00:00</span>
                </ng-template>
            </mat-card-subtitle>
            <mat-chip-option class="archvie-Btn" color="accent" highlighted [selected]="todo.isArchived"
                (click)="onArchiveTodo()">Archive</mat-chip-option>
        </mat-card-header>
        <mat-card-content class="content">
            <div class="content-header">
                <div *ngIf="todo.descriptionLines.length>1" class="Mark-All-container">
                    <button (click)="toggleAlllineComplete()" class="mark-all" mat-mini-fab matTooltip="Mark All"
                        color="primary">
                        <mat-icon>done_all</mat-icon>
                    </button>
                    <button (click)="toggleAlllineUnComplete()" class="unmark-all" mat-mini-fab matTooltip="Unmark All"
                        color="accent">
                        <mat-icon>remove_done</mat-icon>
                    </button>
                </div>
            </div>
            <div class="descriptionLines-container">
                <div *ngFor="let line of todo.descriptionLines; let i = index" class="desctiptionLine">
                    <span (click)="togglelineComplete(i)">
                        <mat-icon class="line-icon" [ngStyle]="{'color':todo.linesCompleted[i] ? '#7DECB3' : '' }"
                            *ngIf="line.trim().length">label_important</mat-icon>
                        <div *ngIf="this.activetheme == 'dark'; else elseBlock">
                            <span [class.completed-line-dark]="todo.linesCompleted[i]">{{line}}</span>
                        </div>
                        <ng-template #elseBlock>
                            <span [class.completed-line-light]="todo.linesCompleted[i]">{{line}}</span>
                        </ng-template>
                    </span>
                </div>
            </div>
            <div class="bottom-line">
                <mat-chip-option highlighted class="done-Btn" [selected]="todo.isCompleted"
                    (click)="toggleCompleteTodo()">
                    Done
                </mat-chip-option>
                <button class="delete_forever" mat-mini-fab *ngIf="todo" color="warn" (click)="PermenantlyDelete()"
                    matTooltip="Permenantly Delete!" matTooltipPosition="above"><mat-icon>delete_forever</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </div>
    <!-- <span class="uuid-id" *ngIf="todo"> Task ID: {{todo.id}} [Generated with uuid]</span> -->
</mat-card>