<div class="new-todo-container">
    <div class="header">
        <h1>Add New Todo</h1>
    </div>
    <form #f="ngForm" class="form" (ngSubmit)="onNewTodoSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input ngModel name="title" maxlength="50" required matInput>
            <mat-error *ngIf="f.invalid">Field Is Empty!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea ngModel name="description" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose A Deadline</mat-label>
            <input ngModel name="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</div>