<mat-toolbar class="header-main">
  <div class="theme-btn">
    <mat-button-toggle-group #theme="matButtonToggleGroup" name="theme" (change)="toggleTheme(theme.value)">
      <mat-button-toggle  matTooltipPosition="below" matTooltip="Light" [checked]="activetheme =='light'"
        value="light"><mat-icon>light_mode</mat-icon></mat-button-toggle>
      <mat-button-toggle   matTooltipPosition="below" matTooltip="Grey" [checked]="activetheme =='grey'"
        value="grey"><mat-icon>wb_twilight</mat-icon></mat-button-toggle>
      <mat-button-toggle   matTooltipPosition="below" matTooltip="Dark" [checked]="activetheme =='dark'"
        value="dark"><mat-icon>dark_mode</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <span class="them-btn-text">Dark Mode</span> -->
  </div>
  <span>ToDo</span>
  <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
    <!-- <mat-icon>settings</mat-icon> -->
  </button>
</mat-toolbar>