.new-todo-container {
    padding: 20px;
    .header {
      display: flex;
      justify-content: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      .deadline {
        display: flex;
        gap:10px;
        .date,
        .time {
          max-width: 250px;
          position: relative;
          .mat-icon {
            position: absolute;
            right: -5px;
            top: 15px;
            z-index: -1;
          }
        }
      }
    }
  }
  
  .line-icons {
    position: absolute;
    overflow-y: auto;  
    top:16px;
    left:0;
    max-height: 300px;
    display: flex;
    flex-direction: column;
  }

textarea {
  padding-left: 30px; /* Adjust as needed based on the icon's width and position */
}