// theme-variables

// Primary Colors
$primary: #2196f3;
$primary-light: #64b5f6;
$primary-dark: #9db2bf;

// Accent Colors
$accent: #ffc107;
$accent-light: #ffd54f;
$accent-dark: #ffa000;

// Define Dark Theme Variables
// Background Colors
$background-dark: #111111;
$background-dark-secondary: #3a3a3a;
$background-dark-body: #1b1b1b;

$dark-primary: #27374d;
$dark-accent: #ffc107;
$dark-text-primary: #ffffff;
$dark-text-secondary: #828383;

body.dark-theme {
  background-color: $background-dark-body;

  app-root {
    .app {
      app-header {
        .header-main {
          background-color: $background-dark;
          color: $dark-text-primary;

          mat-button-toggle {
            background-color: $background-dark-body;

            mat-icon {
              color: $dark-text-secondary
            }
          }
        }
      }

      main {
        color: $dark-text-primary;

        .todos-component {
          .list-container {

            .selected,
            .single-todo:active {
              box-shadow: $accent-dark 0px 20px 60px -15px inset,

            }

            background-color: $background-dark-secondary;

            .mat-mdc-tab-group,
            .mat-mdc-tab-nav-bar {
              --mdc-tab-indicator-active-indicator-color: #ffa000;
            }

            app-todo-list {
              .mdc-tab__text-label {
                // *** tabs label***
                color: $accent !important;
              }

              color: $dark-text-primary;

              mat-card {
                background-color: $background-dark-body;

                mat-card-content {
                  mat-card-subtitle {
                    color: $dark-text-secondary;
                  }
                }
              }

              .single-todo:hover {
                background-color: $primary-dark;
              }
            }
          }

          app-todo {
            mat-card-header {
              background-color: $background-dark-secondary;

              app-count-down {
                h1 {
                  color: $dark-text-primary;
                }

                h2 {
                  color: $dark-text-secondary;
                }
              }

              mat-card-subtitle {
                color: $dark-text-secondary;
              }
            }

            mat-card-content,
            .main-content,
            .empty-main-content {
              background-color: $background-dark-body;
            }

            mat-card-content {
              .desctiptionLine {
                mat-icon {
                  color: $dark-text-secondary;
                }
              }
            }
          }
        }
      }
    }

    color: $dark-text-secondary;
  }

  //add new todo popup
  .mat-mdc-dialog-surface {
    color: $dark-text-primary;

    background-color: $background-dark-body;

    mat-label {
      color: $dark-text-primary;
      font-size: 14px;
    }

    input {
      color: $dark-text-primary;
    }

    .mat-mdc-text-field-wrapper {
      background-color: $background-dark-secondary;

      input {
        color: $dark-text-primary !important;
      }

      textarea {
        color: $dark-text-primary;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #526d82;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #728594;
  }

  ::-webkit-scrollbar-track {
    background-color: #a3afb8;
  }
}




$background-grey: #526d82;
$background-grey-secondary: #9db2bf;
$background-grey-body: #dde6ed;

// Text Colors
// $text-primary: #000000;
// $text-secondary: #ffffff;
// $text-on-primary: #ffffff;
// $text-on-secondary: #ffffff;
// Define Dark Theme Variables
$grey-primary: #27374D;
$grey-primary: #27374d;
$grey-background: #526d82;
$grey-text-primary: #000000;
$grey-text-secondary: #9DB2BF;

body.grey-theme {
  background-color: $background-grey-body;

  app-root {
    .app {
      app-header {
        .header-main {
          background-color: $background-grey;
          color: $grey-text-primary;

          mat-button-toggle {
            background-color: $background-grey-secondary;

            mat-icon {
              color: $grey-primary
            }
          }

        }
      }

      main {
        .todos-component {
          .list-container {
            background-color: $background-grey-secondary;

            app-todo-list {
              color: $grey-text-primary;

              mat-card {
                background-color: $background-grey-body;
              }
            }
          }

          app-todo {
            mat-card-header {
              background-color: $background-grey-secondary;

              app-count-down {
                h1 {
                  color: $grey-text-primary;
                }
              }

              mat-card-subtitle {
                color: $grey-text-secondary;
              }
            }

            mat-card-content,
            .main-content,
            .empty-main-content {
              background-color: $background-grey-body;
            }

            mat-card-content {
              .desctiptionLine {
                mat-icon {
                  color: $grey-text-secondary;
                }
              }
            }
          }
        }
      }
    }
  }

  //add new todo popup
  .mat-mdc-dialog-surface {
    color: $grey-text-primary;

    background-color: $background-grey-body;

    mat-label {
      color: $grey-text-primary;
      font-size: 14px;
    }

    input {
      color: $grey-text-primary;
    }

    .mat-mdc-text-field-wrapper {
      background-color: $background-grey-secondary;

      input {
        color: $grey-text-primary !important;
      }

      textarea {
        color: $grey-text-primary;
      }
    }
  }

}