<div class="todos-component">
    <div class="main">
        <mat-drawer-container>
            <mat-drawer #drawer opened class="sidenav" mode="side">
                <div class="list-container">
                    <app-todo-list [todos]="todos"></app-todo-list>
                </div>
            </mat-drawer>

            <div class="todo-container">
                <!-- <app-todo [todo]="todo"></app-todo> -->
                <app-todo></app-todo>
            </div>
        </mat-drawer-container>
    </div>
    <footer class="footer">
        <button mat-raised-button color="primary" class="toggle-side-nav" (click)="drawer.toggle(); toggleList()"> {{ isListShown ? 'Hide List'
            : 'Show List' }}</button>
        <div class="copyright">
            <mat-icon>copyright</mat-icon>
            <span>Hen Friedmann | All Rights Reserved</span>
        </div>
        <button matTooltip="Add New Task" above (click)="openDialog()" mat-fab color="primary" class="add-new-todo-btn">
            <mat-icon>add</mat-icon>
        </button>
    </footer>
</div>