<div cdkDropList class="todo-list" (cdkDropListDropped)="drop($event)">
    <mat-tab-group >
        <mat-tab color="#fcde64" label="Avilable">
            <mat-card *ngIf="!todos.length">
                <mat-card-content class="empty-card">
                    <mat-card-title class="empty-card-title"><mat-icon>view_comfy</mat-icon>Empty List...</mat-card-title>
                </mat-card-content>
            </mat-card>
            <div cdkDrag class="item-wrap" cdkDragLockAxis="y" [cdkDragStartDelay]="100"
                *ngFor="let item of todos; let i = index" (click)="onTodoClick(item , i)">
                <mat-card class="single-todo" [ngClass]="{selected:item.selected }" *ngIf="!item.isArchived">
                    <div class="custom-placeholder" *cdkDragPlaceholder></div>
                    <mat-card-content>
                        <mat-card-title [ngClass]="{completed:item.isCompleted}">{{i+1}}.
                            {{item.title}}</mat-card-title>
                        <mat-card-subtitle class="open-end-dates">
                            <span>Opened: {{ item.openDate |date:"dd/MM/yy"}}</span>
                            <span *ngIf="item.endDate">Deadline: {{item.endDate | date:"dd/MM/yy"}}</span>
                        </mat-card-subtitle>
                    </mat-card-content>
                    <div class="completed-icon" *ngIf="item.isCompleted">
                        <svg width="30" height="30" viewBox="0 0 48 48">
                            <linearGradient id="IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1" x1="9.858" x2="38.142"
                                y1="9.858" y2="38.142" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#9dffce"></stop>
                                <stop offset="1" stop-color="#50d18d"></stop>
                            </linearGradient>
                            <path fill="url(#IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1)"
                                d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                            <linearGradient id="IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2" x1="13" x2="36" y1="24.793"
                                y2="24.793" gradientUnits="userSpaceOnUse">
                                <stop offset=".824" stop-color="#135d36"></stop>
                                <stop offset=".931" stop-color="#125933"></stop>
                                <stop offset="1" stop-color="#11522f"></stop>
                            </linearGradient>
                            <path fill="url(#IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2)"
                                d="M21.293,32.707l-8-8c-0.391-0.391-0.391-1.024,0-1.414l1.414-1.414	c0.391-0.391,1.024-0.391,1.414,0L22,27.758l10.879-10.879c0.391-0.391,1.024-0.391,1.414,0l1.414,1.414	c0.391,0.391,0.391,1.024,0,1.414l-13,13C22.317,33.098,21.683,33.098,21.293,32.707z">
                            </path>
                        </svg>
                    </div>
                </mat-card>
                <mat-divider></mat-divider>
            </div>

        </mat-tab>

        <mat-tab label="Archvie">
            <mat-card *ngIf="!todos.length">
                <mat-card-content class="empty-card">
                    <mat-card-title class="empty-card-title"><mat-icon>view_comfy</mat-icon>Empty List...</mat-card-title>
                </mat-card-content>
            </mat-card>
            <div cdkDrag class="item-wrap" cdkDragLockAxis="y" [cdkDragStartDelay]="100"
                *ngFor="let item of todos; let i = index" (click)="onTodoClick(item , i)">
                <mat-card class="single-todo" [ngClass]="{selected:item.selected }" *ngIf="item.isArchived">
                    <div class="custom-placeholder" *cdkDragPlaceholder></div>
                    <mat-card-content>
                        <mat-card-title [ngClass]="{completed:item.isCompleted}">{{i+1}}. {{item.title}}</mat-card-title>
                        <mat-card-subtitle class="open-end-dates">
                            <span>Opened: {{ item.openDate |date:"dd/MM/yy"}}</span>
                            <span *ngIf="item.endDate">Deadline: {{item.endDate | date:"dd/MM/yy"}}</span>
                        </mat-card-subtitle>
                    </mat-card-content>
                    <div class="completed-icon" *ngIf="item.isCompleted">
                        <svg width="30" height="30" viewBox="0 0 48 48">
                            <linearGradient id="IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1" x1="9.858" x2="38.142" y1="9.858"
                                y2="38.142" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#D4BD69"></stop>
                                <stop offset="1" stop-color="#fbff23"></stop>
                            </linearGradient>
                            <path fill="url(#IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1)"
                                d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                            <linearGradient id="IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2" x1="13" x2="36" y1="24.793" y2="24.793"
                                gradientUnits="userSpaceOnUse">
                                <stop offset=".824" stop-color="#135d36"></stop>
                                <stop offset=".931" stop-color="#125933"></stop>
                                <stop offset="1" stop-color="#11522f"></stop>
                            </linearGradient>
                            <path fill="url(#IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2)"
                                d="M21.293,32.707l-8-8c-0.391-0.391-0.391-1.024,0-1.414l1.414-1.414	c0.391-0.391,1.024-0.391,1.414,0L22,27.758l10.879-10.879c0.391-0.391,1.024-0.391,1.414,0l1.414,1.414	c0.391,0.391,0.391,1.024,0,1.414l-13,13C22.317,33.098,21.683,33.098,21.293,32.707z">
                            </path>
                        </svg>
                    </div>
                </mat-card>
                <mat-divider></mat-divider>
            </div>
        







        </mat-tab>
    </mat-tab-group>
  
</div>