/* You can add global styles to this file, and also import other style files */
@import '/src//styles/theme.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-button-toggle-checked{
  background-color: $background-dark-secondary;
  mat-icon{
    color: $accent-dark;
  }
}
.cdk-overlay-container { //new todo popup
    z-index: 500;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #526d82;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fae5a6;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #d0d0d0;
    border-radius: 4px;
  }
  